.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: blanchedalmond;
}

input{
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
}
